html,
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100dvw;
  height: 100dvh;
}

.canvas {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overscroll-behavior-y: contain;
  touch-action: pan-x, pan-y;
}

.canvasInner {
  position: relative;
}

.square {
  position: absolute;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: gray;
  touch-action: none;
}
